[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
.vscode/
.idea/
.DS_Store

# Launcher (.NET, separate from Unity)
!Launcher/
!Launcher/**
!Launcher/*.csproj
!Launcher/*.sln
Launcher/bin/
Launcher/obj/
